<!Doctype HTML>
	<html>
	<head>
		<title></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link rel="stylesheet" href="{{url_for('static',filename='./newHomePage.css')}}" type="text/css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

 
	<body>
		
		<div id="mySidenav" class="sidenav">
		<p class="logo"><span>Ani</span> -  Soul</p>
	  <a href="/dashboard" class="icon-a"><i class="fa fa-list icons"></i>   Dashboard</a>
	  <a href="/profile"class="icon-a"><i class="fa fa-user icons"></i>   Profile</a>
      <a href="#"class="icon-a"><i class="fa-regular fa-arrow-right-from-bracket" style="color: #7e7a85; font-size:30px;">&#xf08b;</i>   Logout</a>

	</div>
	<div id="main">

		<div class="head">
			<div class="col-div-6">
                <div class="profile">
                    <i class="fa-regular fa-user fa-2xl"></i> 
                     <p>KAMALESH <span>FARMER</span></p>
                </div>
	        </div>
		
		<div class="col-div-6">
		
	</div>
		<div class="clearfix"></div>
	</div>

		<div class="clearfix"></div>
		<br/>
		
		<div class="col-div-3">
			<div class="box">
				<center><p><span >My Devices</span></p></center>
			</div>
		</div>
		<div class="col-div-3">
			<div class="box">
				<center><p><span>Add Device Connection</span></p></center>
			</div>
		</div>
		<div class="col-div-3">
			<div class="box">
				<center><p><span>Change Your Location</span></p></center>
			</div>
		</div>
		<div class="col-div-3">
			<div class="box">
				<center><p><span>Past Animal Activities</span></p></center>
			</div>
		</div>
		<div class="clearfix"></div>
		<br/><br/>
		<div class="col-div-8">
			<div class="box-8">
			<div class="content-box">
				<p>Recent Animal Activities <span>See All</span></p>
				<br/>
				<table>
	  <tr>
	    <th>Animal</th>
	    <th>Wild/Domestic</th>
	    <th>Sector</th>
	  </tr>
	  <tr>
	    <td>Pig</td>
	    <td>Wild</td>
	    <td>Sector 2</td>
	  </tr>
	  <tr>
	    <td>Goat</td>
	    <td>Domestic</td>
	    <td>Sector 1</td>
	  </tr>
	  <tr>
	    <td>Elephant</td>
	    <td>Wild</td>
	    <td>Sector 4</td>
	  </tr>
	  <tr>
	    <td>Tiger</td>
	    <td>Wild</td>
	    <td>Secotr 1</td>
	  </tr>
	  
	  
	</table>
			</div>
		</div>
		</div>

		<div class="col-div-4">
			<div class="box-4">
			<div class="content-box">
				<p>Animal Intrusion in Last 30 Days </p>
				<div class="circle-wrap">
	    <div class="circle">
	      <div class="mask full">
	        <div class="fill"></div>
	      </div>
	      <div class="mask half">
	        <div class="fill"></div>
	      </div>
	      <div class="inside-circle"> 26 </div>
	    </div>
	  </div>
			</div>
		</div>
		</div>
			
		<div class="clearfix"></div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>

	  $(".nav").click(function(){
	    $("#mySidenav").css('width','70px');
	    $("#main").css('margin-left','70px');
	    $(".logo").css('visibility', 'hidden');
	    $(".logo span").css('visibility', 'visible');
	     $(".logo span").css('margin-left', '-10px');
	     $(".icon-a").css('visibility', 'hidden');
	     $(".icons").css('visibility', 'visible');
	     $(".icons").css('margin-left', '-8px');
	      $(".nav").css('display','none');
	      $(".nav2").css('display','block');
	  });

	$(".nav2").click(function(){
	    $("#mySidenav").css('width','300px');
	    $("#main").css('margin-left','300px');
	    $(".logo").css('visibility', 'visible');
	     $(".icon-a").css('visibility', 'visible');
	     $(".icons").css('visibility', 'visible');
	     $(".nav").css('display','block');
	      $(".nav2").css('display','none');
	 });

	</script>

	</body>


	</html>